<!-- Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Sign In with Three Players</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class='col-lg-4'>
            <%= form_tag  do %>
              <%= label_tag "Player 1" %>
              <%= text_field_tag :player1name, nil, placeholder: 'Username' %>
            <% end %>
          </div>
          <div class='col-lg-4'>
            <%= form_tag  do %>
              <%= label_tag "Player 2" %>
              <%= text_field_tag :player2name, nil, placeholder: 'Username' %>
            <% end %>
          </div>
          <div class='col-lg-4'>
            <%= form_tag  do %>
              <%= label_tag "Player 3" %>
              <%= text_field_tag :player3name, nil, placeholder: 'Username' %>
            <% end %>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button id="startGameButton" class="btn btn-primary">Start Game</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- JS on click of button, grabs contents of forms with repsective id's and because it is still apart of the DOM, we'll have access to those names later (I think) $('#player1name').val() -->
